:root {
  /* colors *
/* primary */
  ---primary: #369fff;
  ---p-hover: #0274dc;
  ---p-line: rgba(54, 158, 255, 0.22);
  /* danger */
  ---danger: #d32a2a;
  ---d-hover: #8a1d1d;
  ---d-line: #d32a2a;
  /* secondary */
  ---secondary: #30343b;
  ---s-hover: #1a1a1c;
  ---s-line: #30343b;
  /* text */
  ---text: #ffffff;
  /* bg */
  ---bc: #fff;
  ---bg-text: #1a1a1c;
}

body.dark {
  /* colors *
/* primary */
  ---primary: #369fff;
  ---p-hover: #0274dc;
  ---p-line: rgba(54, 158, 255, 0.22);
  /* danger */
  ---danger: #d32a2a;
  ---d-hover: #8a1d1d;
  ---d-line: #e32121;
  /* secondary */
  ---secondary: #30343b;
  ---s-hover: #e7e7e9;
  ---s-line: #ebebec;
  /* text */
  ---text: #1a1a1c;
  /* bg */
  ---bc: #1a1a1c;
  ---bg-text: #ffffff;
}

body {
  background: var(---bc);
  color: var(---bg-text);
}

/* BUTTONS STYLES */

.button {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 8px;
  border: none;
  margin: 4px;
  cursor: pointer;
  pointer-events: all;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
}

.button svg {
  /* min-width: 20.396px;
  min-height: 20.396px; */
  color: var(---text);
}
.button.Small {
  padding: 6px 12px !important;
}
/* sizes */
.button.Medium {
  padding: 10px 20px !important;
}

.button.Large {
  padding: 14px 28px !important;
}

/* Style */
.button.primary {
  background-color: var(---primary);
  color: var(---text);
}
.button.primary.Outline svg {
  color: var(---primary);
}
.button.primary.Outline {
  color: var(---primary) !important;
  border: 1px solid var(---p-line);
}
.button.primary:hover {
  background-color: var(---p-hover);
  color: var(---text) !important;
}

.button.secondary {
  background-color: var(---secondary);
  color: var(---text);
}
.button.secondary.Outline svg {
  color: var(---secondary);
}
.button.secondary.Outline {
  color: var(---secondary) !important;
  border: 1px solid var(---s-line);
}
.button.secondary:hover {
  background-color: var(---s-hover);
  color: var(---text) !important;
}

.button.danger {
  background-color: var(---danger);
  color: var(---text);
}
.button.danger.Outline svg {
  color: var(---danger);
}
.button.danger.Outline {
  color: var(---danger) !important;
  border: 1px solid var(---d-line);
}
.button.danger:hover {
  background-color: var(---d-hover);
  color: var(---text) !important;
}

/* Type */
.button.Outline {
  background-color: transparent;
}

.button.Soft {
  background-color: rgba(54, 158, 255, 0.12);
}

.button.Ghost {
  background-color: transparent;
  color: var(---primary);
}

/* State */
.button.state-hover:hover {
  opacity: 0.7;
}

.button.state-disabled {
  opacity: 0.5;
  cursor: none;
  background-color: #30343b2a;
  color: #94979a;
}
.button.state-disabled:hover {
  opacity: 0.5 !important;
  cursor: none !important;
  background-color: #30343b2a !important;
  color: #94979a !important;
}
